# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
*.db-journal

# Node
node_modules/
frontend/dist/

# 环境
.env
*.log

# IDE
.idea/
.vscode/
*.swp

# 数据文件
backend/data/*.db
backend/data/uploads/*